@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="bg-neutral pt-[30px] pb-[70px]">
    <div class="max-w-7xl mx-auto px-6">
        <img src="~/images/PartnerLogos/logos.png"
             alt="Our partners"
             class="mx-auto w-full h-auto opacity-80"
             loading="lazy" />
    </div>
</section>