<?xml version="1.0" encoding="utf-8"?>
<Media Key="22e289d6-3934-421c-b403-6ea3d8b21c43" Alias="Assurance&amp;Audits.svg" Level="2">
  <Info>
    <Parent Key="96676874-3eb6-46cd-afb8-4ee0cc4b7e87">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T07:30:56</CreateDate>
    <NodeName Default="Assurance&amp;Audits.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eq0ebqbp/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>