<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef5c9b56-7db2-4983-b697-eccc0208b498" Alias="Bonds&amp;Commodities.svg" Level="2">
  <Info>
    <Parent Key="96676874-3eb6-46cd-afb8-4ee0cc4b7e87">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T07:30:56</CreateDate>
    <NodeName Default="Bonds&amp;Commodities.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uqtp2dnj/bondscommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>