<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d2b860f-9da6-4399-b4d5-ea91618ae3b7" Alias="contactpersongrey.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactpersongreypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T10:00:36</CreateDate>
    <NodeName Default="contactpersongrey.png" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qbgg1w4p/contactpersongrey.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>