<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2bb2b7e-b5d6-4900-8254-68ed5bd0f776" Alias="contactperson 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactperson1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T14:03:57</CreateDate>
    <NodeName Default="contactperson 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rslbsugn/contactperson-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>