<?xml version="1.0" encoding="utf-8"?>
<Media Key="d73719fc-e6c0-4a49-bea4-4ea6ead83c06" Alias="crowd.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/crowdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:28:15</CreateDate>
    <NodeName Default="crowd.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0sjkno1/crowd.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>