<?xml version="1.0" encoding="utf-8"?>
<Media Key="83bd5f20-82ae-4796-a5c1-7996ba2a2ee0" Alias="Dotmap2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotmap2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:28:52</CreateDate>
    <NodeName Default="Dotmap2.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0lrb4ynv/dotmap2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>