<?xml version="1.0" encoding="utf-8"?>
<Media Key="505eba26-f6da-49a8-b7cf-97cd21abc96c" Alias="Dotmap1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotmap1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-13T11:28:52</CreateDate>
    <NodeName Default="Dotmap1.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0qdpzmwb/dotmap1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>