<?xml version="1.0" encoding="utf-8"?>
<Media Key="c25cfaf7-4fb6-4656-bc7e-886b224f0e12" Alias="Miranda-Dayton.svg" Level="2">
  <Info>
    <Parent Key="f7d53a7b-8a95-4277-9a3f-e21209252f1c">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T12:29:16</CreateDate>
    <NodeName Default="Miranda-Dayton.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/avdp2ifn/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>