<?xml version="1.0" encoding="utf-8"?>
<Media Key="284eda3b-9681-48ac-b764-5801880a5d6a" Alias="OnlineSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T10:11:05</CreateDate>
    <NodeName Default="OnlineSignature.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zftpzsu0/onlinesignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>