<?xml version="1.0" encoding="utf-8"?>
<Media Key="6626adf3-9b74-4432-a9f1-dd740ad51ab9" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="96676874-3eb6-46cd-afb8-4ee0cc4b7e87">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T07:30:56</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aeiijbdp/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>