<?xml version="1.0" encoding="utf-8"?>
<Media Key="625a08ea-e659-407a-8f37-ec1a4aecef4e" Alias="riskmanagementimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmanagementimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T13:40:01</CreateDate>
    <NodeName Default="riskmanagementimage1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dc0pracc/riskmanagementimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>