<?xml version="1.0" encoding="utf-8"?>
<Media Key="96676874-3eb6-46cd-afb8-4ee0cc4b7e87" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-05T07:30:32</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>