<?xml version="1.0" encoding="utf-8"?>
<Media Key="731581a9-5704-4f2f-8076-c1b1b53612f7" Alias="Tax&amp;Trusts.svg" Level="2">
  <Info>
    <Parent Key="96676874-3eb6-46cd-afb8-4ee0cc4b7e87">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T07:30:56</CreateDate>
    <NodeName Default="Tax&amp;Trusts.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lm4lpei5/taxtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>