<?xml version="1.0" encoding="utf-8"?>
<Content Key="02e596fb-df8a-4c11-a6ed-6e54324ccb81" Alias="Contact" Level="2">
  <Info>
    <Parent Key="58ea2c92-682f-4100-bd3c-674e0f340069">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-30T11:46:17</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a6ebc66-26b1-457c-bc09-150e361e3373">ContactPage</Template>
  </Info>
  <Properties>
    <footerCredits>
      <Value><![CDATA[]]></Value>
    </footerCredits>
    <footerUrl>
      <Value><![CDATA[]]></Value>
    </footerUrl>
    <pageFooterTitle>
      <Value><![CDATA[]]></Value>
    </pageFooterTitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6eed7374-a311-42ac-910f-e0f762d8962a",
      "key": "0e30b6a2-6a31-4c06-9106-2f2209840ba5",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a975a8cd-d80e-494e-b617-8cd1416173f7",
              "mediaKey": "c34c291d-1222-4add-8291-d2fd0366cbc4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "56335039-ab3a-42e5-8c0c-ace72894701b",
      "key": "4087215b-cf6b-4231-b5fb-1fb71205c375",
      "udi": null,
      "values": [
        {
          "alias": "mapBackground",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "de3cd2b1-74e8-46a0-8cdb-7a5a77332180",
              "mediaKey": "31563af9-fa0c-4ab0-bc46-4820c54db887",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "eba735e6-7052-477d-b56a-756903b92c26",
      "key": "2281e9fb-b52b-4f7d-9b15-bc351ed2eee3",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0e30b6a2-6a31-4c06-9106-2f2209840ba5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4087215b-cf6b-4231-b5fb-1fb71205c375",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0e30b6a2-6a31-4c06-9106-2f2209840ba5",
        "contentUdi": null,
        "settingsKey": "2281e9fb-b52b-4f7d-9b15-bc351ed2eee3",
        "settingsUdi": null
      },
      {
        "contentKey": "4087215b-cf6b-4231-b5fb-1fb71205c375",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>