<?xml version="1.0" encoding="utf-8"?>
<Content Key="58ea2c92-682f-4100-bd3c-674e0f340069" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-30T10:51:43</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7db8de17-2261-4995-aa6a-8e1b4f743280">homePage</Template>
  </Info>
  <Properties>
    <footerCredits>
      <Value><![CDATA[]]></Value>
    </footerCredits>
    <footerUrl>
      <Value><![CDATA[]]></Value>
    </footerUrl>
    <pageFooterTitle>
      <Value><![CDATA[]]></Value>
    </pageFooterTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "49ec31af-6b7c-41e6-96e1-969b42726d09",
      "key": "60c5a3db-88b0-4145-8b82-4465c8d277db",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/02e596fbdf8a4c11a6ed6e54324ccb81",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "63207e92-a6aa-414b-a176-9e4b2e80b119",
              "mediaKey": "b9bb343a-7ee4-4cf4-8858-b5c71c31c905",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "66c6a02e-8368-405a-8fb3-bbf9ce25da26",
      "key": "7cb0cea2-7d13-4d61-a3f8-ffe1a2343744",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "eba735e6-7052-477d-b56a-756903b92c26",
      "key": "8977b0a1-87fd-4956-8cf2-2f78f11caba6",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "60c5a3db-88b0-4145-8b82-4465c8d277db",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7cb0cea2-7d13-4d61-a3f8-ffe1a2343744",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "60c5a3db-88b0-4145-8b82-4465c8d277db",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7cb0cea2-7d13-4d61-a3f8-ffe1a2343744",
        "contentUdi": null,
        "settingsKey": "8977b0a1-87fd-4956-8cf2-2f78f11caba6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>