<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9c00cc7-d697-40d1-b6fb-55ef37e71478" Alias="Services" Level="2">
  <Info>
    <Parent Key="58ea2c92-682f-4100-bd3c-674e0f340069">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-30T11:56:43</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a3c27b2b-2000-4ac8-b897-753f20602b55">ServicePage</Template>
  </Info>
  <Properties>
    <footerCredits>
      <Value><![CDATA[]]></Value>
    </footerCredits>
    <footerUrl>
      <Value><![CDATA[]]></Value>
    </footerUrl>
    <pageFooterTitle>
      <Value><![CDATA[]]></Value>
    </pageFooterTitle>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "66c6a02e-8368-405a-8fb3-bbf9ce25da26",
      "key": "9eb7415f-a314-4f92-9993-c52d2fbc550d",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6eed7374-a311-42ac-910f-e0f762d8962a",
      "key": "c9f91028-e5c7-413d-b72e-904ec2bf848f",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "officeLocation",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "phoneNumber",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "emailAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        },
        {
          "alias": "personImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e4d49feb-000d-4438-b935-b2c1f850d2dc",
              "mediaKey": "c34c291d-1222-4add-8291-d2fd0366cbc4",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "eba735e6-7052-477d-b56a-756903b92c26",
      "key": "820655f2-053e-4e74-b52e-7dbbe6e140d8",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9eb7415f-a314-4f92-9993-c52d2fbc550d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c9f91028-e5c7-413d-b72e-904ec2bf848f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9eb7415f-a314-4f92-9993-c52d2fbc550d",
        "contentUdi": null,
        "settingsKey": "820655f2-053e-4e74-b52e-7dbbe6e140d8",
        "settingsUdi": null
      },
      {
        "contentKey": "c9f91028-e5c7-413d-b72e-904ec2bf848f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>