<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3f53dd4b-e451-48ed-beb4-f3352f71d35b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49ec31af-6b7c-41e6-96e1-969b42726d09"
    },
    {
      "contentElementTypeKey": "66c6a02e-8368-405a-8fb3-bbf9ce25da26",
      "settingsElementTypeKey": "eba735e6-7052-477d-b56a-756903b92c26"
    },
    {
      "contentElementTypeKey": "6437c237-1923-4a04-8130-0424ed1c206b"
    },
    {
      "contentElementTypeKey": "6eed7374-a311-42ac-910f-e0f762d8962a",
      "label": "Contact Section"
    },
    {
      "contentElementTypeKey": "56335039-ab3a-42e5-8c0c-ace72894701b"
    }
  ]
}]]></Config>
</DataType>