<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cbdd125-c0dd-4f95-9d6a-2fed6d6183e4" Alias="Page Footer -  - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Page Footer -  - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>