<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7441d7d7-f48f-4794-85f7-d42e9dc08092" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "78909703-a593-410d-b122-456249d42e6a",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>